.custom-bg {
  position: relative;
  background: url('../assets/bg-images/aedrian-salazar-bMkRxaVMvj4-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
}

.custom-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px); /* Adjust the blur value as needed */
  z-index: 1;
}

.custom-bg > * {
  position: relative;
  z-index: 2;
}